<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<contextName>PT-LOG</contextName>
	<jmxConfigurator /> <!-- 通过jmx在JConsole中动态修改logback，无需重启 -->

	<!-- 输出到控制台 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%X{tranSeq}]%d{yyyy-MM-dd HH:mm:ss.SSS}[%c][%L][%p]-%m%n</pattern>
		</encoder>
		</appender>

	<!-- 单独发送到行内监控的输出源 -->
	<appender name="ibmonitor" class="ch.qos.logback.core.FileAppender">
		<File>/app/nolnas/out/nollog/master/monitorlog/mastermonitor.log</File>
		<encoder>
			<pattern>@Monitor_System:"TEST",subsystem:"TEST",id:"0000",%m%n</pattern>
		</encoder>
	</appender>

	<!-- 普通输出源输出到文件 -->
	<appender name="framework"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%c][%thread][%X{tradeNo}][%p]-%m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/app/nolnas/out/nollog/master/runtimelog/masterframework/%d{yyyy,aux}/%d{MM,aux}/framework-%d{yyyy-MM-dd'.log'}</fileNamePattern>
		</rollingPolicy>
	</appender>

	<!-- 分线程输出源 -->
	<appender name="frameworkthread" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator class="com.spdb.speed4j.logs.ThreadDiscriminator">
			<key>threadName</key>
		</discriminator>
		<sift>
			<appender name="FILE-${threadName}"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<encoder>
					<Encoding>UTF-8</Encoding>
					<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%c][%thread][%X{tradeNo}][%p]-%m%n</pattern>
				</encoder>
				<rollingPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
					<!-- 回滚策略 %i代表了从0开始计数 -->
					<fileNamePattern>/app/nolnas/out/nollog/master/masterthreadlogs/${threadName}-%d{yyyy-MM-dd}.%i.log
					</fileNamePattern>
					<!-- 每个文件最大 40MB, 保持60天记录, 但是文件系统最大保持20GB -->
					<maxFileSize>40MB</maxFileSize>
					<!-- <maxHistory>60</maxHistory> -->
					<!-- <totalSizeCap>20GB</totalSizeCap> -->
				</rollingPolicy>
			</appender>
		</sift>
	</appender>

	<!-- metrics配置，主要是进行TPS配置时的输出源 -->
	<appender name="metrics"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%c][%thread][%X{tradeNo}][%p]-%m%n</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/app/nolnas/out/nollog/master/mastermetrics/metrics-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxFileSize>40MB</maxFileSize>
			<maxHistory>10</maxHistory>
			<!-- <totalSizeCap>20GB</totalSizeCap> -->
		</rollingPolicy>
	</appender>

	<!-- Speed4J日志，以及各个构件日志级别 -->
	<logger name="Speed4J.Monitor" level="info" additivity="false">
		<appender-ref ref="ibmonitor" />
	</logger>
	<!-- Speed4J日志构件使用的记录器 -->
	<logger name="Speed4J.Logging" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4J格式转换构件使用的记录器 -->
	<logger name="Speed4J.MessageConvert" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4J数据库构件使用的记录器 -->
	<logger name="Speed4J.DBService" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4J流水号构件使用的记录器 -->
	<logger name="Speed4J.SequenceGenerator" level="info"
		additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4J行内服务构件使用的记录器 -->
	<logger name="Speed4J.InnerService" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4J交易流程构件使用的记录器 -->
	<logger name="Speed4J.TransFlowCore" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4J通讯构件使用的记录器 -->
	<logger name="Speed4J.Comm" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4J定时任务调度构件使用的记录器 -->
	<logger name="Speed4J.Task" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4J报表构件使用的记录器 -->
	<logger name="Speed4J.Report" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4JUI构件使用的记录器 -->
	<logger name="Speed4J.UI" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4J权限构件使用的记录器 -->
	<logger name="Speed4J.Authority" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- Speed4J第三方构件使用的记录器 -->
	<logger name="Speed4J.Integration" level="info" additivity="false">
		<appender-ref ref="console" />
	</logger>
	<!-- TPS日志使用的记录器 -->
	<logger name="slf4jReporter" level="info" additivity="false">
		<appender-ref ref="metrics" />
	</logger>
	<logger name="org.springframework" level="info">
		<appender-ref ref="framework" />
	</logger>
	<logger name="org.springframework.security" level="info">
		<appender-ref ref="framework" />
	</logger>
	<logger name="io.netty.handler.logging" level="info">
		<appender-ref ref="framework" />
	</logger>
	<logger name="org.mybatis" level="info" />
	<logger name="org.apache.ibatis" level="info" />
	<logger name="org.hibernate" level="info" />
	<logger name="com.spdb.ib" level="info" />
    <logger name="org.apache.activemq" level="error"/> 
	<!-- nolmaster 日志记录器 -->
	<appender name="nolmaster"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%c][%thread][%X{tradeNo}][%p]-%m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/app/nolnas/out/nollog/master/%d{yyyy,aux}/%d{MM,aux}/${hostName}-master-%d{yyyy-MM-dd'.log'}</fileNamePattern>
		</rollingPolicy>
	</appender>
	<logger name="Nol.master" level="info" additivity="true">
		<appender-ref ref="nolmaster" />
	</logger>

	 <logger name="com.spdb.speed4j.task.schedule.batch.partitioner" level="info" additivity="true">
		<appender-ref ref="nolmaster" />
	</logger>
	<root level="debug">
		<appender-ref ref="console" />
	</root>
</configuration>